<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Oggetto_News::news" title="News" translate="title" module="Oggetto_News" sortOrder="1000"
             parent="Magento_Backend::content_elements" action="news/news/index" resource="Oggetto_News::news" />
    </menu>
</config>
