<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="saveComfortDeliveryTimeInfo" type="Oggetto\ComfortDeliveryTime\Plugin\SaveComfortDeliveryTimeInfo" sortOrder="100" />
    </type>
    <type name="Magento\Quote\Model\Quote\Address\ToOrderAddress">
        <plugin name="setComfortDeliveryTimeData" type="Oggetto\ComfortDeliveryTime\Plugin\SetComfortDeliveryTimeData" sortOrder="100" />
    </type>
</config>
