.news > ul {
    list-style: none;
    padding: 0;
}

.news > ul li {
    padding: 10px 5px;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px #c4c1bc solid;
    display: inline-block;
    width: 100%;
}

.news > ul li:last-child {
    border-bottom: none;
}

.news-list {
    float: left;
    position: relative;
    margin-left: 10px;
    width: 100%;
}

.news-list a.news-title {
    font-weight: bold;
}

.news-list a.news-title:hover {
    text-decoration: none;
}

.block-news .block-title {
    margin: 0 0 20px;
}

.block-news-heading {
    font-size: 18px;
    font-weight: 300;
}

.products-grid .product-item-inner {
    bottom: -45px;
}
