<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Attribute"
                type="Oggetto\MultipleChoice\Model\CatalogSearch\Model\Layer\Filter\Attribute" />
    <preference for="Magento\Catalog\Model\Layer\Filter\Item"
                type="Oggetto\MultipleChoice\Model\Catalog\Model\Layer\Filter\Item" />
    <type name="Magento\Framework\Api\Search\SearchCriteriaBuilder">
        <plugin name="multiple_ranges" type="Oggetto\MultipleChoice\Model\MultipleRangesFilterPlugin" sortOrder="100" />
    </type>
</config>
